name: Deploy Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20' 

      - name: Install dependencies and build the app
        run: |
          npm install && npm run build

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "StrictHostKeyChecking no" >> ~/.ssh/config
          ls -la ~/.ssh

      - name: Copy files to server
        env:
          REMOTE_USER: ${{ secrets.PRD_USER }}
          REMOTE_HOST: ${{ secrets.PRD_HOST }}
          REMOTE_PATH: ${{ secrets.PRD_PATH }}
        run: |
          rsync -avz --exclude-from='.transferignore' --delete -e "ssh " ./dist/ $REMOTE_USER@$REMOTE_HOST:$REMOTE_PATH || { echo "rsync failed with exit code $?"; exit 1; }
